.collection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.documents-header{
	display: flex;
	justify-content: left;
  border-bottom: 1px solid #dadada;
  padding-left: 10px;
  align-items: center;
}

.document-body{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.documents {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid #dadada;
  max-width: 30%;
}

pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  margin: 0;
}

table tbody tr {
  vertical-align: top;
}

table tbody tr:hover td {
  background-color: rgba(0, 0, 0, 0.08);
}
